.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-image {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.login-image img {
  max-width: 100%;
  height: auto;
  max-height: 400px; /* Ajusta la altura máxima para que coincida con el formulario */
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-footer {
  text-align: center;
  margin-top: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}